In [1]:
import pandas as pd
import requests

In [2]:
# read keys
import yaml
import os

def read_config():
    # Get the directory of the current script
    # script_dir = os.path.dirname(os.path.realpath(__file__))
    script_dir = "../src/"

    # Construct the full path to the configuration file
    file_path = os.path.join(script_dir, "apikeys.yml")

    with open(file_path, 'r') as stream:
        try:
            configs = yaml.safe_load(stream)
            api_key = configs['amadeues_flights']['api_key']
            api_secret = configs['amadeues_flights']['api_secret']
            return api_key, api_secret
        except yaml.YAMLError as exc:
            print(exc)
            
    return api_key, api_secret


class SingletonToken:
    __token = None

    @classmethod
    def set_token(cls, token):
        cls.__token = token

    @classmethod
    def get_token(cls):
        return cls.__token

api_key, api_secret = read_config()

In [3]:
from amadeus import Client, ResponseError

amadeus = Client(client_id=api_key, client_secret=api_secret)

# Defining the parameters for the flight
params = {
    'originLocationCode': 'SYD',
    'destinationLocationCode': 'BKK',
    'departureDate': '2023-10-10',
    'adults': 1
    # add or modify other parameters according to your needs
}

try:
    response_flights = amadeus.shopping.flight_offers_search.get(**params)
    
except ResponseError as error:
    print(f"ResponseError occurred: {error}")
    print(f"Error code: {error.code}")
    print(f"Error message: {error.description}")


try:
    response_airline_lookup = amadeus.reference_data.airlines.get()

    
except ResponseError as error:
    print(f"ResponseError occurred: {error}")
    print(f"Error code: {error.code}")
    print(f"Error message: {error.description}")

In [8]:
flights_data = response_flights.data
df_flights = pd.json_normalize(response_flights.data)
df_airline_codes = pd.json_normalize(response_airline_lookup.data)

In [5]:
import langchain
from langchain.agents.agent_toolkits import create_python_agent
from langchain.tools.python.tool import PythonREPLTool
from langchain.python import PythonREPL
from langchain.llms.openai import OpenAI
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI

In [12]:
from langchain.chat_models import ChatOpenAI
from langchain.experimental.plan_and_execute import PlanAndExecute, load_agent_executor, load_chat_planner
from langchain.tools.python.tool import PythonREPLTool
from langchain.llms import OpenAI
from langchain import SerpAPIWrapper
from langchain.agents.tools import Tool
from langchain import LLMMathChain

In [15]:
from amadeus import Client, ResponseError
from datetime import datetime
from langchain.chat_models import ChatOpenAI
from langchain.experimental.plan_and_execute import PlanAndExecute, load_agent_executor, load_chat_planner
from langchain.tools.python.tool import PythonREPLTool
from langchain.llms import OpenAI
from langchain import SerpAPIWrapper
from langchain.agents.tools import Tool
from langchain.tools import tool
from langchain import LLMMathChain

@tool
def search_for_flights(originLocationCode: str, destinationLocationCode: str, departureDate: datetime, num_adults: int) -> list:
    """Sends get request to Amadeus flights API given parameters"""
    
    # Assuming you've defined api_key and api_secret somewhere else
    amadeus = Client(client_id=api_key, client_secret=api_secret)

    # Defining the parameters for the flight
    params = {
        'originLocationCode': originLocationCode,
        'destinationLocationCode': destinationLocationCode,
        'departureDate': departureDate.strftime('%Y-%m-%d'),  # API might require specific date format
        'adults': num_adults
        # add or modify other parameters according to your needs
    }
    
    try:
        response_flights = amadeus.shopping.flight_offers_search.get(**params)
        
    except ResponseError as error:
        print(f"ResponseError occurred: {error}")
        print(f"Error code: {error.code}")
        print(f"Error message: {error.description}")
        return []  # return an empty list in case of an error

    return response_flights.data

In [25]:
from langchain.agents import create_pandas_dataframe_agent
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_types import AgentType

agent = create_pandas_dataframe_agent(
    ChatOpenAI(temperature=0, model="gpt-3.5-turbo-0613", openai_api_key="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"),
    df_flights,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

agent.run("what's the cheapest flight?")

> Entering new AgentExecutor chain...

OutputParserException: Could not parse tool input: {'name': 'python', 'arguments': "cheapest_flight = df[df['price.total'] == df['price.total'].min()]\ncheapest_flight"} because the `arguments` is not valid JSON.

In [20]:

agent_executor = create_python_agent(
    llm=OpenAI(temperature=0, openai_api_key="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"),
    tool=PythonREPLTool(),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [26]:
# agent_executor.run("what's the cheapest flight")

In [29]:
df_flights.to_csv("../src.flights.csv")

In [64]:
# Load the data into a DataFrame
df = pd.DataFrame(response_flights.data)

# Extract itineraries, validatingAirlineCodes, price (total and currency) and id into separate dataframes
df_itineraries = df[['id', 'itineraries']].explode('itineraries').reset_index(drop=True)

# In the itineraries column, each cell is a dictionary. So, we need to convert those dictionaries into separate columns.
df_itineraries = df_itineraries.join(pd.json_normalize(df_itineraries['itineraries'])).drop(columns='itineraries')

# At this point, 'segments' column is a list of dictionaries where each dictionary represents a leg of the journey.
# We want each leg to be a separate row in the dataframe. So, explode the 'segments' column.
df_itineraries = df_itineraries.explode('segments').reset_index(drop=True)

# Add a 'leg_id' column to identify each leg of the journey
df_itineraries['leg_id'] = df_itineraries.groupby('id').cumcount() + 1

# Now, convert the dictionaries in the 'segments' column into separate columns
df_segments = pd.json_normalize(df_itineraries['segments'])

# To avoid overlapping columns, add a prefix to the column names of the new dataframe
df_segments.columns = ['flight_' + str(col) for col in df_segments.columns]

# Now join the original dataframe with the new one
df_itineraries = df_itineraries.join(df_segments).drop(columns='segments')

df_validatingAirlineCodes = df[['id', 'validatingAirlineCodes']]

# For the price column, we only need total and currency. So, extract only those into a new dataframe
df_price = df['price'].apply(pd.Series)[['total', 'currency']]
df_price['id'] = df['id']

# Now join these dataframes on the 'id' column
df_journeys = pd.merge(df_itineraries, df_validatingAirlineCodes, on='id')
df_journeys = pd.merge(df_journeys, df_price, on='id')

# Create a new column for the total number of legs per journey
df_journeys['total_legs'] = df_journeys.groupby('id')['leg_id'].transform('max')

df_journeys = df_journeys.merge(right=df_airline_codes, how='left', left_on="flight_operating.carrierCode", right_on="iataCode")

df_journeys.rename(columns={"id":"journey_id"}, inplace=True)
df_journeys.drop(columns=["flight_id", "validatingAirlineCodes"], inplace=True)

df_journeys

,journey_id,duration,leg_id,flight_carrierCode,flight_number,flight_duration,flight_numberOfStops,flight_blacklistedInEU,flight_departure.iataCode,flight_departure.terminal,...,flight_operating.carrierCode,flight_stops,total,currency,total_legs,type,iataCode,icaoCode,businessName,commonName
0,1,PT24H15M,1,TR,3,PT8H20M,0,False,SYD,1,...,TR,NaN,250.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
1,1,PT24H15M,2,TR,624,PT2H30M,0,False,SIN,1,...,TR,NaN,250.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
2,2,PT28H40M,1,TR,3,PT8H20M,0,False,SYD,1,...,TR,NaN,292.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
3,2,PT28H40M,2,TR,604,PT2H35M,0,False,SIN,1,...,TR,NaN,292.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
4,3,PT16H5M,1,TR,13,PT8H25M,0,False,SYD,1,...,TR,NaN,294.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,63,PT29H35M,2,NH,805,PT6H45M,0,False,NRT,1,...,NH,NaN,5922.11,EUR,2,airline,NH,ANA,ALL NIPPON AIRWAYS,ALL NIPPON
123,64,PT30H20M,1,NH,880,PT9H40M,0,False,SYD,1,...,NH,NaN,5922.11,EUR,2,airline,NH,ANA,ALL NIPPON AIRWAYS,ALL NIPPON
124,64,PT30H20M,2,NH,803,PT7H25M,0,False,NRT,1,...,NH,NaN,5922.11,EUR,2,airline,NH,ANA,ALL NIPPON AIRWAYS,ALL NIPPON
125,65,PT21H45M,1,NH,880,PT9H40M,0,False,SYD,1,...,NH,NaN,5963.48,EUR,2,airline,NH,ANA,ALL NIPPON AIRWAYS,ALL NIPPON
126,65,PT21H45M,2,NH,847,PT6H40M,0,False,HND,NaN,...,NH,NaN,5963.48,EUR,2,airline,NH,ANA,ALL NIPPON AIRWAYS,ALL NIPPON

In [55]:
test = df_final.sort_values(by='id')
test.to_csv("../src/flights.csv")

In [62]:
test2 = test.merge(right=df_airline_codes, how='left', left_on="flight_operating.carrierCode", right_on="iataCode")
test2

,id,duration,leg_id,flight_carrierCode,flight_number,flight_duration,flight_id,flight_numberOfStops,flight_blacklistedInEU,flight_departure.iataCode,...,flight_stops,validatingAirlineCodes,total,currency,total_legs,type,iataCode,icaoCode,businessName,commonName
0,1,PT24H15M,1,TR,3,PT8H20M,41,0,False,SYD,...,NaN,[SQ],250.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
1,1,PT24H15M,2,TR,624,PT2H30M,42,0,False,SIN,...,NaN,[SQ],250.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
2,10,PT14H20M,2,ID,7637,PT4H15M,53,0,False,DPS,...,NaN,[GP],342.74,EUR,2,airline,ID,BTK,BATIK AIR INDONESIA,BATIK AIR INDONESIA
3,10,PT14H20M,1,ID,6006,PT6H25M,52,0,False,SYD,...,NaN,[GP],342.74,EUR,2,airline,ID,BTK,BATIK AIR INDONESIA,BATIK AIR INDONESIA
4,11,PT14H15M,2,PR,732,PT3H30M,34,0,False,MNL,...,NaN,[PR],345.27,EUR,2,airline,PR,PAL,PHILIPPINE AIRLINES,PHILIPPINE AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,7,PT31H55M,2,TR,610,PT2H30M,127,0,False,SIN,...,NaN,[SQ],315.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
123,8,PT33H25M,1,TR,3,PT8H20M,62,0,False,SYD,...,NaN,[SQ],315.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
124,8,PT33H25M,2,TR,616,PT2H30M,63,0,False,SIN,...,NaN,[SQ],315.85,EUR,2,airline,TR,TGW,SCOOT,SCOOT
125,9,PT31H10M,2,OD,520,PT2H10M,28,0,False,KUL,...,NaN,[GP],323.62,EUR,2,airline,OD,MXD,BATIK AIR MALAYSIA,BATIK AIR MALAYSIA
126,9,PT31H10M,1,OD,172,PT9H50M,27,1,False,SYD,...,"[{'iataCode': 'DPS', 'duration': 'PT1H', 'arri...",[GP],323.62,EUR,2,airline,OD,MXD,BATIK AIR MALAYSIA,BATIK AIR MALAYSIA